{% extends "base.html" %}

{% block title %}test{% endblock %}

{% block content %}

    
    <div class = "container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        47%
        </div>
      </div>
    </div>

    <div class="container">
      <div class = "row">
            <div id = "picturecontainer">
                <div class = "col-md-6" id="left">
                    <object data= "/static/probs/p{{ problem }}.pdf"></object>
                </div>
                <div class = "col-md-6 " id="right">
                    <object data= "/static/subs/s{{ submission }}.pdf"></object>
                </div>
            </div>
        </div>

    <div class = "ratingscontainer">
      <textarea class="form-control" placeholder="Comments and grade" id = "comment" rows="5"></textarea>
      <button type="submit" class="btn btn-primary" id="next">NEXT</button>
    </div>


    </div>
{% endblock %}


